.banner{
  background-image: url(../image/large.jpg);
  padding: 15% 0; 
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 10.8;
}
.banner .text-banner .container h1{
  width: 60%;
  margin: 0 auto;
  font-weight: bold;
}
.text-white{
  color: white;
}
.text-blue{
  background-color:  #4E7EBB;
}
.text-blueosc{
  background-color:  #2A3541;
}
.text-center{
  text-align: center;
}
.bloque {
    margin-top: -22px;
}
.color-fondo{
  padding: 2%; 
  height: 150px;
  display: left;
}
.icono{
  font-size:50px;
  color: #4E7EBB;
  margin: 5% 0 1% 0;
}
.linea{
  width: 100%;
  border-bottom: 1px solid #4E7EBB;
  display: inline-block; 
  margin-bottom: 1%;
}
.image{
  width: 100%;
}
.icon{
  font-size: 60px;
  color: #BEE9FF;
}
.text-celeste{
  color: #BEE9FF;
}
footer .icon{
  font-size: 20px;
  color: #BEE9FF;
}

@media (max-width : 535px) {
    .logo{
      background-image: url(../img/logo-2.jpg);
      width: 100%;
    }
}
@media (max-width : 535px) {
    .video{
      width: 100%;
    }
}